body{
	background:pink;
}
.main{
	background:aqua;
	display:flex;
	justify-content:space-around;
	margin:10%;

}
.sub{
	background: bisque;
margin: 5%;
border-radius:5%;
text-align:center; 
}
img{
	margin: 4%
	border-radius:5%;
	width:70%;
	height:30%;
}